---
import Layout from "../layouts/main.astro"
import { Button } from "../components/ui/button"
import { Separator } from "../components/ui/separator"
import { SocialIcon } from "../components/SocialIcon"
import { SITE } from "../config"
---

<Layout>
  <div
    class="mx-auto flex max-w-3xl flex-grow flex-col justify-center px-6 py-12 md:py-16 lg:px-8"
  >
    <section class="flex flex-col">
      <h1
        class="mb-8 text-4xl font-extrabold tracking-tight text-foreground md:text-5xl"
      >
        你好，我是 {SITE.site.author}。
      </h1>
      <p class="mb-8 text-xl leading-relaxed text-foreground/80">
        {SITE.site.description}
      </p>
      <article
        class="prose mb-12 max-w-none space-y-6 text-lg leading-relaxed text-foreground/80 prose-zinc dark:prose-invert"
      >
        <p>
          我进入 Web
          开发领域的旅程，始于对屏幕上界面的视觉和交互体验的纯粹着迷。多年来，我不断在设计与工程的交汇点深耕。我不仅在编写代码，更是在构建那些有生命力、响应迅速且符合直觉的用户界面。
        </p>
        <p>
          我相信，优秀的用户体验是润物细无声的。它需要我们在细微之处精雕细琢——比如微交互、微妙的渐变，以及完美的排版。
        </p>
      </article>

      <Separator className="mb-8" />

      <div class="flex items-center justify-start gap-4">
        {
          SITE.socials
            .filter((social) => social.showInHero)
            .map((social) => (
              <Button variant="outline" asChild>
                <a href={social.url} target="_blank" rel="noopener noreferrer">
                  <SocialIcon name={social.name} className="size-4" />
                  {social.linkTitle}
                </a>
              </Button>
            ))
        }
      </div>
    </section>
  </div>
</Layout>
